body {
  background: linear-gradient(to right, maroon, red);
  background-size: cover;
  font-family: sans-serif;
}

input[type=text], input[type=text] {
  width: 97%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  position: relative;
  width: 100%;
  max-width: 750px;
  padding: 40px 40px 60px;
  background: linear-gradient(to left, maroon, red);
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}


input[type=text]:focus, input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

input[type=password], input[type=password] {
  width: 97%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=password]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.registerbtn {
  background-color:#2F4F4F;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}


.back-btn {
  background: linear-gradient(to right, #eee, gray);
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
  /* display: block; */
  /* margin: auto; */
  border: none;
  outline: none;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
} 
.back-btn:hover {
  cursor: pointer;
  color: maroon;
  background: burlywood;
}
.back-btn:active {
  transform: translateY(4px);
}


